<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>澳门皇冠赌场</title>
</head>
<body>
     <h1>澳门皇冠赌场</h1>
     <h2><span style='color:red;'>性感</span>荷官在线发牌</h2>
     <input type="password">
     <input type="file">
      <div> <a href="/sex/news">性感荷官</a></div>
<input type="radio"name="n1">男<input type="radio"name="n1">女
      <img style="height:800px" src="https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word=%E6%80%A7%E6%84%9F%E8%8D%B7%E5%AE%98&step_word=&hs=0&pn=29&spn=0&di=7189064908862914561&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&istype=2&ie=utf-8&oe=utf-8&in=&cl=2&lm=-1&st=-1&cs=4030661864%2C2427158619&os=240797734%2C3135822502&simid=4030661864%2C2427158619&adpicid=0&lpn=0&ln=109&fr=&fmq=1678090119137_R&fm=result&ic=&s=undefined&hd=&latest=&copyright=&se=&sme=&tab=0&width=&height=&face=undefined&ist=&jit=&cg=&bdtype=0&oriquery=&objurl=https%3A%2F%2Fi3.hexun.com%2F2021-12-08%2F204896397.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fgjof_z%26e3Bijx7g_z%26e3Bv54AzdH3Fdad8-8d-abAzdH3Fda9blm9am_z%26e3Bip4s&gsm=1e&rpstart=0&rpnum=0&islist=&querylist=&nojc=undefined&dyTabStr=MCwzLDEsNiw0LDUsNyw4LDIsOQ%3D%3D"/>
      <img style="height:500px" src="/static/img.png"/>
      <a href="https://www.bilibili.com/video/BV1wG4y1k75a/?vd_source=7cff033d9b2f5e074fd6f861d8cfce96">点击跳转赌场</a>




      <ul>
          <li>sdfagasefarfwsf</li>
          <li>sdeffasdfwefsdfcsf</li>
          <li>sdfsdfzdfewsdcvdfsedf</li>
      </ul>

      <ol>
          <li>sdfagasefarfwsf</li>
          <li>sdeffasdfwefsdfcsf</li>
          <li>sdfsdfzdfewsdcvdfsedf</li>
      </ol>

      <table border="1">
          <thead>
          <tr>   <th>ID</th>    <th>name</th>   <td>age</td> </tr>
          </thead>
          <tbody>
          <tr><td>1</td><td>jack</td><td>18</td></tr>
          <tr><td>2</td><td>mark</td><td>19</td></tr>
          <tr><td>3</td><td>sand</td><td>20</td></tr>
          <tr><td>4</td><td>dick</td><td>21</td></tr>
          </tbody>
      </table>

    <input type="text">
    <input type="checkbox">A<input type="checkbox">B<input type="checkbox">C

    <select>
    <option>北京</option>
    <option>上海</option>
    <option>成都</option>
    </select>


</body>
</html>